{% extends 'head.html' %}

{% load static %}

{% block title%}
    change_password
{% endblock %}

{% block content %}
<div class="wrapper">
    {% include 'header.html' %}
    <main>
        <div class="change-password">
            <div class="change-password__form">
                <div class="change-password__text-welcom">Смена пароля</div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <input placeholder="Старый пароль" type="password" class="input-password">
                    <input placeholder="Новый пароль" type="password" class="input-password">
                    <input placeholder="Повторите пароль" type="password" class="input-confirm-password"> -->
                    <button type="submit" class="enter-button">Изменить пароль</button>
                </form> 
            </div>
        </div>    
    </main>
    {% include 'footer.html' %}
</div>
{% endblock %}