{% extends 'head.html' %}

{% load static %}

{% block title%}
    forgot_password
{% endblock %}

{% block content %}
<div class="wrapper">
    {% include 'header.html' %}
    <main>
        <div class="forgot-password">
            <div class="forgot-password__form">
                <div class="forgot-password__text-welcom">Восстановление пароля</div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <input placeholder="Email" type="email" name="email" class="input-email"> -->
                    <button type="submit" class="enter-button">Восстановить пароль</button>
                </form> 
            </div>
        </div>    
    </main>
    {% include 'footer.html' %}
</div>
{% endblock %}