<header class="header">
  <div class="header__container--wide">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="" class="logo-text">LearnSQL</a>
      </div>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="{% url 'book' %}">Учебник</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{% url 'lectures' %}">Практика</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="">Статистика</a>
          </li>
        </ul>
      </nav>
      <div class="header__user-name">
        Артем Иванов
      </div>
    </div>
  </div>
</header>