{% load static %}
<header class="header">
  <div class="header__container--wide">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="{% url 'home' %}" class="logo-text">LearnSQL</a>
      </div>
      {% if request.user.is_authenticated %}
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="{% url 'book' %}">Учебник</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{% url 'topic_list' %}">Практика</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{% url 'solutions' %}">Решения</a>
          </li>
        </ul>
      </nav>
        <div class="profile">
          <div class="profile__user-name">{{ request.user.first_name }} {{ request.user.last_name }}
          </div>
            <div class="profile__menu">
              <ul class="profile__menu-list">
                  <li class="profile__menu-item">
                      <a href="{% url 'change_password' %}" class="profile__menu-link">Изменить пароль</a>
                  </li>
                  <li class="profile__menu-item">
                      <a href="{% url 'logout' %}" class="profile__menu-link">Выйти</a>
                  </li>
              </ul>
          </div>
        </div>
      {% else %}
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="{% url 'login' %}">Учебник</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{% url 'login' %}">Практика</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{% url 'login' %}">Решения</a>
          </li>
        </ul>
      </nav>
        <a href="{% url 'login' %}" class="header__user-name">Войти</a>
      {% endif %}
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</header>


