.header {
  height: 5vh;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 5vh;
  }

  &__logo {
    margin-right: 57px;
    font-size: 18px;
    font-weight: 500;
    color: #101923;
  }

  &__user-name {
    margin-left: auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #101923;
  }
  &__user-name:hover{
    color: #B60000;
  }
}

.profile {
  z-index: 10;
  margin-left: auto;
  display: flex;
  flex-direction: column;

  &__user-name {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #101923;
  }

  &__user-name:hover{
    color: #B60000;
  }

  &__menu {
    // display: none;
    top: 30px;
    padding: 0 15px 15px 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.015em;
    color: #101923;
    background-color: white;
  }

  &__menu-list{
    display: none;
  } 

  &__menu-item{
    padding-top: 15px;
  }
  &__menu-link:hover{
    color: #B60000;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item a {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #101923;
  }

  &__item+&__item {
    margin-left: 30px;
  }

  &__link:hover{
    color: #B60000;
  }
}