.header {
  height: 5vh;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 5vh;
  }

  &__logo {
    margin-right: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #101923;
  }

  &__avatar {
    margin-left: auto;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    img {
      width: 50%;
      height: 50%;
      object-fit: cover;
    }
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item a {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #101923;
  }

  &__item+&__item {
    margin-left: 30px;
  }

  &__link:hover{
    color: #B60000;
  }
}