.signin {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    &__form {
        display: flex;
        padding: 48px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        width:384px;
        border-radius: 15px;
        border: 1px solid rgba(16, 25, 35, 0.10);
        background: #FFF;
    }
    &__text-welcom {
        color: #101923;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    &__forgot{
        width: 100%;
        display: flex;
        gap: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__forgot-password:hover{
        color: #780000;
    }
    &__signup:hover{
        color: #780000;
    }
}

.input-login{
    margin-bottom: 48px;
    padding: 14px 17px;
    width: 323px;
    height: 52px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}

.input-login:focus{
    color: #101923;
    border: 1px solid #780000;
}

.input-password{
    margin-bottom: 48px;
    padding: 14px 17px;
    width: 323px;
    height: 52px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}

.input-password:focus{
    color: #101923;
    border: 1px solid #780000;
}

.enter-button{
    display: flex;
    width: 323px;
    height: 52px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #B60000;
    background: #B60000;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.enter-button:hover{
    background: #780000;
    border: 1px solid #780000;
}

hr{
    border: 0.5px solid #101923;
    width: 100%;
}