.lections{
 &__wrapper{
    display: grid;
    grid-template-columns: 68% 27%;
    grid-gap: 3%;
    height: 100%;
 }
 &__content{
    margin-top: 30px;
    display: grid;
    flex-direction: column;
    gap: 30px;
 }
 &__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
}

.lection{
    position: relative;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #B60000;
    background-color: #FFF;
    &__part{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: baseline;
    }
    &__topic-of-lecture{
        color: rgba(0, 0, 0, 0.80);
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &--lock{
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &--lock{
        position: relative;
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content:space-between;
        align-items: baseline;
        border-radius: 15px;
        border: 1px solid #101923;
        background: #575D64;
    }
    &--lock:hover::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 94px;
        width: 100%;
        display: block;
        border-radius: 15px;
        border: 1px solid #FFFFFF;
        background: #FFFFFF; 
        opacity: 0.8;
    }
    &--lock:hover::after{
        content: "";
        position: absolute;
        width: 36px;
        height: 47px;
        display: block;
        align-self: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='47' viewBox='0 0 36 47' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.462 0.15933C13.0083 0.544185 10.701 1.67522 8.9068 3.37262C7.54747 4.65869 6.75008 5.83867 6.10819 7.5137C5.4957 9.11204 5.38861 10.0178 5.38805 13.6013L5.3876 16.7554L4.60833 16.8699C2.4051 17.1935 0.544323 18.8267 0.0989476 20.8279C0.0112239 21.2218 -0.0158029 24.0277 0.00852105 30.2037C0.0432052 38.9781 0.0444435 39.0209 0.296917 39.8575C0.874722 41.7725 2.14204 43.6158 3.72445 44.8431C4.71847 45.614 6.45684 46.4427 7.75242 46.7632C8.70871 46.9998 8.71829 47 18 47C27.2395 47 27.2957 46.9987 28.2476 46.7665C29.4635 46.4698 31.2454 45.6349 32.1871 44.9206C33.7853 43.7086 35.1306 41.7723 35.7047 39.8575C35.955 39.0227 35.9569 38.9595 35.9915 30.2037C36.0158 24.0277 35.9888 21.2218 35.9011 20.8279C35.4557 18.8267 33.5949 17.1935 31.3917 16.8699L30.6124 16.7554L30.6119 13.6013C30.6116 11.309 30.5656 10.1832 30.4435 9.48114C29.7189 5.31444 26.5322 1.86744 22.1666 0.52885C20.4764 0.0104932 17.468 -0.155255 15.462 0.15933ZM20.8716 3.67082C22.3643 4.11124 23.3701 4.68138 24.4796 5.71631C25.5829 6.74535 26.1843 7.66474 26.6812 9.08169C26.9243 9.77525 26.9414 10.015 26.9831 13.3094L27.0273 16.8019H18H8.97267L9.01693 13.3094C9.0586 10.015 9.07571 9.77525 9.31884 9.08169C10.2283 6.48822 12.2793 4.53265 14.9328 3.7289C15.9402 3.42388 16.5304 3.36747 18.3378 3.40339C19.7545 3.43165 20.2318 3.48207 20.8716 3.67082ZM31.5825 20.4322C31.7536 20.5513 31.998 20.7792 32.1257 20.9388C32.3558 21.2264 32.3579 21.306 32.3579 29.913V38.597L32.0816 39.3848C31.3586 41.4475 29.4059 43.0915 27.1492 43.5376C26.0474 43.7553 9.97198 43.7592 8.87324 43.5419C6.64163 43.1006 4.7554 41.5475 3.94945 39.4874L3.64213 38.7021L3.60846 30.2466C3.58988 25.5961 3.60463 21.639 3.64112 21.4528C3.72377 21.0313 4.19719 20.495 4.65 20.3101C4.93107 20.1954 7.38115 20.1741 18.1325 20.1928C31.2082 20.2155 31.2731 20.2166 31.5825 20.4322ZM16.6889 25.4235C15.8973 25.7075 15.1494 26.35 14.7687 27.073C14.5024 27.5789 14.4528 27.8052 14.4529 28.5135C14.453 29.693 14.8908 30.5256 15.9006 31.2664L16.1883 31.4775L16.2214 34.5309C16.2528 37.425 16.2666 37.5993 16.4867 37.8741C16.9282 38.4251 17.288 38.597 18 38.597C18.712 38.597 19.0718 38.4251 19.5133 37.8741C19.7335 37.5991 19.7472 37.4256 19.7785 34.4932C19.7966 32.793 19.8539 31.402 19.9059 31.402C20.1256 31.402 20.9853 30.465 21.255 29.9315C21.6468 29.1565 21.6666 27.9228 21.2993 27.1759C20.5179 25.587 18.4375 24.7963 16.6889 25.4235Z' fill='%23101923'/%3E%3C/svg%3E");
    }
}

.link-to-lecture-task{
    padding: 4px 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: #B60000;
    border: 1px solid #B60000; 
    border-radius: 15px;
    &--lock{
        padding: 4px 15px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFF;
        background-color: #575D64;
        border-radius: 15px;
        box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.75);
    }
}
.link-to-lecture-task:hover{
    background: #780000;
    border: 1px solid #780000;
}

.list-name{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.8);
}

.search{
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 325px;
    border-radius: 15px;
    border: 1px solid #B60000;
    background-color: #FFF;
    &__query{
        color: rgba(16, 25, 35, 0.80);
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__icon{
        flex-shrink: 0;
    }
}

.button-expand{
    width: 22px;
    height: 22px;
    border: 1px solid #B60000;
    background: #B60000;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

